/* style.css */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #f70391, #EAECC6);
  color: #fff;
  text-align: center;
}

.navbar {
  background: #111;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 1.5em;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1em;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 3em;
}
